img{
    height:300px;
}
strong{
    color:orange;
    font-family: "Abyssinica SIL", sans-serif;


}
li{
    font-style: italic;
    color: #4267B2;
}
p{
    font-weight: normal;
}
.Container{
    background-color: beige;
}
.validators{
    float: right;
}
.w3s-validator-icon {
    height: 50px;


}
